// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #2b4262;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
// Below colours are the main color scheme
$cream: #fcf3df;
$maroony: #c18b73;
$sea-blue: #96bcbf;
$swamp-green: #bfc0aa;
$dark-navy: #2b4262;
