.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 32px;
}

.home-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-card {
  // border: 5px solid #1C6EA4;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
  background-color: #BFC0AA;
  border-radius: 5px;
  width: 300px;
  height: 350px;
  img {
    height: 175px;
    width: 100%;
    object-fit: cover;
    padding: 10px;
    border-radius: 12px;
  }
}



.home-card:hover {
  transform: scale(1.06);
  transition: transform 330ms ease-in-out;
  text-decoration: none;
  a {
    text-decoration: none;
  }
}

.home-card-content {
  flex-grow: 1;
}

.home-card-content {
  margin-left: 16px;
    h2 {
      text-align: left;
      color: $cream;
    }
    p {
      flex: center;
      color: $cream;
    }
    h5 {
      color: $cream;
    }
    h6 {
      margin-top: 10px;
      font-family: 'Patua One', cursive;
      color: $dark-navy;
      font-weight: bold;
      font-size: 19px;
      text-shadow: 1px 0.15px rgba(122,120,117,0.43)
    }
}

.home-card-flex {
  display: flex;
  justify-content: space-between;
  padding: 18px 18px 18px 2px;
  margin-top: 9px;
}

.card-book-button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: $sea-blue;
  transition: background 0.3s ease;
  border: 1px solid $sea-blue;
}

.card-book-button:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
  text-decoration: none;
}

// p {
//   font-size: 16px;
// }


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 56px;
  font-weight: bold;
}

.banner p {
  font-size: 40px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer {
  background: $sea-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: $sea-blue;
  transition: background 0.3s ease;
  border: 1px solid $sea-blue;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

#our-tutors-header {
  text-align: left;
  margin-top: 28px;
  margin-bottom: 16px;
  margin-left: 79px;
  // padding: 39px;
  color: $maroony;
}

#how-header {
    text-align: center;
    padding-bottom: 24px;
    font-weight: bold;
    color: $maroony;
}

.how-it-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 10px;
  img {
    height: 242px;
    border-radius: 20px;
  }
}

.how-it-card-info {
  text-align: center;
  margin-top: 24px;
  color: $dark-navy;
}

.how-it-cards-container {
  padding: 32px;
}

// .home-cards-container {
//   margin: none;
//   padding: 20px;
// }

.search-bar {
  display: flex;
}
