#sign-up-header {
  color: $maroony;
}

#sign-up-btn {
  font-family: 'Montserrat', sans-serif;
}

#h4-sign-up {
  text-align: center;
  padding: 20px;
  color: $maroony;
}

#sign-up-footer {
  margin-top: 70px;
}

#login-sign-up {
  text-align: center;
}
