<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
    <h1>Update Booking</h1>
<%= simple_form_for [ @listing,@booking ] do |f| %>
    <%= f.input :startdate, as: :datetime, html5: true, label: 'Start' %>
  <%= f.input :finishdate, as: :datetime, html5: true, label: 'Finish'  %>
  <%= f.submit 'Update Booking', class: 'btn-gradient'%>
<% end %>
    </div>
  </div>
</div>
