<%# <h1>RENT-A-DEV</h1> %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1534665482403-a909d0d97c67?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1><strong>Rent-a-Dev</strong></h1>
    <p>Find your coding tutor today</p>
    <div class="input-group rounded">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>
  </div>
</div>

<h1 style="text-indent: 0.5em";> Our Best Rated Tutors</h1>
<div class="cards">
  <div class="card">
    <img src="https://constructionmaguk.co.uk/wp-content/uploads/2018/06/do-developer-profile.png" class="img-card" alt="picture man">
    <h2>Dan Sterling</h2>
    <p>BA computer science</p>
    <div class="card-flex"><p>£20ph</p><button>book now</button></div>
  </div>

  <div class="card">
   <img src="https://miro.medium.com/max/1400/1*M7nNCFBIGyf13xQ7gY0swA.jpeg" class="img-card" alt="picture of man">
   <h3>name</h3>
   <p>something</p>
  <div class="card-flex"><p>£20ph</p><button>book now</button></div>
  </div>

  <div class="card">
    <img src="https://pixomatic.us/blog/wp-content/uploads/2019/11/pixomatic_1572877263963.png" class="img-card" alt="">
    <h3>name</h3>
   <p>something</p>
  <div class="card-flex"><p>£20ph</p><button>book now</button></div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i>
  </div>
</div
