<%# <h1>RENT-A-DEV</h1> %>
<head>
</head>
<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1534665482403-a909d0d97c67?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
    <div class="container">
      <h1><strong>Rent-a-Dev</strong></h1>
      <p>Find your coding tutor today</p>
    <%#---------- Code for serach bar--------- %>
      <%= render "shared/searchbar" %>
    <%#---------- Code for serach bar--------- %>
      <%# <%= link_to "Browse tutors", listings_path, class: "btn btn-gradient" %>
    </div>
  </div>

  <h1 id="our-tutors-header" style="text-indent: 0.5em";> Our Best Rated Tutors</h1>

  <div class="home-card-container">
    <div class="home-cards">
        <div class="home-card">
          <%# <%= link_to listings_path do Can't add link to booking until seed is done  %>
            <img src="https://constructionmaguk.co.uk/wp-content/uploads/2018/06/do-developer-profile.png" alt="listing-tutor">
            <div class="home-card-content">
              <h2>Dan Sterling</h2>
              <h5>Ruby/Python</h5>
              <div class="home-card-flex">
                <h6>£20/ph</h6>
                <a class="card-book-button">Book Now</a>
              </div>
            </div>
        <%# <% end - See comment above %>
      </div>

      <div class="home-card">
        <img src="https://miro.medium.com/max/1400/1*M7nNCFBIGyf13xQ7gY0swA.jpeg" alt="listing-tutor">
         <div class="home-card-content">
          <h2>Hannah Tow</h2>
          <h5>CSS/Html</h5>
          <div class="home-card-flex">
            <h6>£60/ph</h6>
            <a class="card-book-button">Book Now</a>
          </div>
        </div>
      </div>

      <div class="home-card">
        <img src="https://pixomatic.us/blog/wp-content/uploads/2019/11/pixomatic_1572877263963.png" alt="listing-tutor">
        <div class="home-card-content">
          <h2>Jane Morris</h2>
          <h5>Ruby/JavaScript</h5>
          <div class="home-card-flex">
            <h6>£35/ph</h6>
            <a class="card-book-button">Book Now</a>
          </div>
        </div>
      </div>
    </div>

    <div class="how-it-cards-container">
      <h2 id="how-header">How It Works</h2>
      <div class="how-it-cards">
        <div class="how-it-card">
          <img class ="circle-img" src="https://images.unsplash.com/photo-1537884944318-390069bb8665?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
          <div class="how-it-card-info">
            <h4>Find a Subject</h4>
            <p>Search for what subject you want to learn</p>
          </div>
        </div>
        <div class="how-it-card">
          <img class ="circle-img" src="https://images.unsplash.com/photo-1521931961826-fe48677230a5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
          <div class="how-it-card-info">
            <h4>Reach Out</h4>
            <p>Get in touch with one of our tutors </p>
          </div>
        </div>
        <div class="how-it-card">
          <img class ="circle-img" src="https://images.unsplash.com/photo-1514996937319-344454492b37?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
          <div class="how-it-card-info">
            <h4>Learn To Code</h4>
            <p>Collaborate and learn with your tutor</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Rent-a-Dev <i class="fas fa-terminal"></i>
    </div>
  </div>
</body>
