<%# <h1>RENT-A-DEV</h1> %>

<h1>Our Tutors</h1>


<div class="cards">
  <div class="card">
    <img src="https://constructionmaguk.co.uk/wp-content/uploads/2018/06/do-developer-profile.png" class="img-card" alt="picture man">
    <h2>Dan Sterling</h2>
    <p>BA computer science</p>
    <div class="card-flex"><p>£20ph</p><button>book now</button></div>
  </div>

  <div class="card">
   <img src="https://miro.medium.com/max/1400/1*M7nNCFBIGyf13xQ7gY0swA.jpeg" class="img-card" alt="picture of man">
   <h3>name</h3>
   <p>something</p>
  <div class="card-flex"><p>£20ph</p><button>book now</button></div>
  </div>

  <div class="card">
    <img src="https://pixomatic.us/blog/wp-content/uploads/2019/11/pixomatic_1572877263963.png" class="img-card" alt="">
    <h3>name</h3>
   <p>something</p>
  <div class="card-flex"><p>£20ph</p><button>book now</button></div>
  </div>
</div>
