.main-container {
  // padding: 5vh 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  width: auto;
  align-items: center;
  justify-content: center;
}

.index-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.index-card {
  // border: 5px solid #1C6EA4;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
  background-color: #BFC0AA;
  border-radius: 5px;
  width: 300px;
  height: 350px;
  img {
    height: 175px;
    width: 100%;
    object-fit: cover;
    padding: 10px;
    border-radius: 12px;
  }
}

.index-card-content {
 flex-grow: 1;
}

.index-card-content {
  margin-left: 16px;
    h2 {
      text-align: left;
      color: $cream;
    }
    p {
      flex: center;
      color: $cream;
    }
    h5 {
      color: $cream;
    }
    h6 {
      margin-top: 10px;
      font-family: 'Patua One', cursive;
      color: $dark-navy;
      font-weight: bold;
      font-size: 19px;
      text-shadow: 1px 0.15px rgba(122,120,117,0.43)
    }
}

.index-card-flex {
  display: flex;
  justify-content: space-between;
  padding: 18px 18px 18px 2px;
  margin-top: 9px;
}

@media(max-width: 1200px) {
  .main-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 992px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
  }
}
