// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #FCF3DF;
}

h1, h2, h4 {
  font-family: 'Patua One', cursive;
}

h5, p {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #C18B73;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  text-decoration: none;
  color: #dfbcad ;
}
